<footer class="text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-youtube"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/biodefenceilaclama/?igshid=MzRlODBiNWFlZA%3D%3D" target="_blank" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      
    </section>
    <!-- Section: Social media -->

    

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Bizi Takip Edin!
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        

        
        
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          
            <h5>Sayfalar</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="/Home/Index" class="text-white text-decoration-none">Anasayfa</a>
            </li>
            <li>
              <a href="/Home/Hizmetler" class="text-white text-decoration-none">Hizmetlerimiz</a>
            </li>
            <li>
              <a href="/Home/Hakkimizda" class="text-white text-decoration-none">Hakkımızda</a>
            </li>
            <li>
              <a href="/Home/Iletisim" class="text-white text-decoration-none">İletişim</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          
          <h5>Hizmet Bölgelerimiz</h5>  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white text-decoration-none">İstanbul Anadolu Yakası</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">İstanbul Avrupa Yakası</a>
            </li>
            
          </ul>
        </div>
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          
            <h5>İletişim</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="mailto:info@biodefence.com.tr" class="text-white text-decoration-none">info@biodefence.com.tr</a>
            </li>
            <li>
              <a href="tel:+905309033623" class="text-white text-decoration-none">+90 530 903 36 23 </a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">Başakşehir/İstanbul</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Tüm Hakları Saklıdır: <a class="text-white" href="/">biodefence.com.tr</a>   
  </div>
  <!-- Copyright -->
</footer>