<div id="serit">
        <div class="row hiza">
            <div class="col-12">
                <h1>Hakkımızda</h1>
            </div>
            <div class="col-12">
                <i class="fa-solid fa-head-side-virus ikon"></i>
            </div>
        </div>
        <div class="alt-serit"></div>
</div>

<section class="hakkimizda-uzun">
<div class="container p-2 mt-2">
    <div class="row">
        <div class="col-12">
            <h4>BioDefence İlaçlama Haşere Kontrol Hizmetleri</h4>
                <p>İstanbul'un kalbinde faaliyet gösteren BioDefence, haşere ilaçlama sektöründe öne çıkan, müşterileri tarafından sıkça tercih edilen ve güven duyulan bir markadır. Firmamızın temeli, haşere ilaçlama sektöründe yıllara dayanan deneyimlere sahip olan iki uzman Biyolog tarafından atılmıştır. Bu iki profesyonelin birikimi, BioDefence'in sektördeki başarısının arkasındaki en önemli etkenlerden biridir.</p>
                <p>
                Bizler, BioDefence olarak, amacımızı sadece haşereleri yok etmek olarak değil; aynı zamanda siz değerli müşterilerimize en güncel, en etkili ve en güvenli ilaçlama yöntemleriyle hizmet sunarak, haşerelerden tamamen arındırılmış, sağlıklı ve huzurlu yaşam alanları oluşturmak olarak belirledik. Ekibimiz, sektördeki son teknolojik gelişmeleri, yeni ilaçlama yöntemlerini ve haşere türlerini yakından takip eden, deneyimli Biyologlar ve Ziraat Mühendislerinden oluşmaktadır. Uygulamalarımız esnasında kullanılan tüm ilaçlar, Sağlık Bakanlığı tarafından onaylı, insan sağlığına zarar vermeyen biyosidal ürünlerdir.</p>
                <p>
                Müşteri memnuniyeti, işimizin temel taşıdır. Müşterilerimizin bize duyduğu güveni boşa çıkarmamak için ilaçlama sonrası oluşabilecek her türlü sorunda, günün her saatinde destek hizmeti sunuyoruz. BioDefence ile iş birliği yaptığınızda, sadece yaşam alanlarınızın haşerelerden arındığını değil, aynı zamanda evinizin ve iş yerinizin daha hijyenik ve konforlu bir ortama dönüştüğünü göreceksiniz.</p>

                <p>Siz değerli müşterilerimize daha iyi hizmet sunabilmek adına sürekli olarak kendimizi geliştiriyor, sektördeki yenilikleri yakından takip ediyoruz. Haşerelerle savaşta sizlere yardımcı olabilmeyi ve bu alandaki benzersiz deneyimlerimizi sizlerle paylaşmayı dört gözle bekliyoruz.</p>
        </div>
        <div class="col-12">
            <img src="~/images/ilac.png" alt="">
        </div>
    </div>
</div>
</section>