<div id="serit">
        <div class="row hiza">
            <div class="col-12">
                <h1>Hizmetlerimiz</h1>
            </div>
            <div class="col-12">
                <i class="fa-solid fa-hand-sparkles ikon"></i>
            </div>
        </div>
        <div class="alt-serit"></div>
</div>

<div class="container">
        <div class="hizmetler">
            <h1 class="text-center mb-5">Başlıca Faaliyetlerimiz</h1>
            <div class="row justify-content-center">
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="hizmet">
                        <div class="card">
                            <img src="/images/ilac.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">İlaçlama Faaliyetleri</h5>
                                <p class="card-text">Başta ev ve iş yerleri olmak üzere, her türlü yaşam alanında ihtiyaç duyulan ilaçlama çalışmaları, uzman ekiplerimizce sadece Sağlık Bakanlığı onaylı ürünlerle ilaçlanmaktadır. Konforunuzu korumak adına kokusuz ürünlerle de uygulama yapılabilmektedir.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="hizmet">
                        <div class="card">
                            <img src="/images/dezenfeksiyon.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Dezenfeksiyon</h5>
                                <p class="card-text">Mikroorganizmalarla bulaşan hastalıkların önlenmesi amacıyla yapılan dezenfeksiyon çalışmalarında, insan sağlığına zararı olmayan ve uygulama sonrasında su ve oksijene ayrılan dezenfektanlar kullanılmaktadır. Uygulama yapılan alanlarda leke bırakmayan ürünler sayesinde, sağlanılan fayda maksimum seviyede tutulmaktadır.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="hizmet">
                        <div class="card">
                            <img src="/images/fareli.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Kemirgen İstasyon Noktası Kurulumu</h5>
                                <p class="card-text">Özellikle fabrika ve büyük iş yerlerinde yüksek öncelikli ihtiyaç olarak karşımıza çıkan kemirgen istasyon noktaları, uzman ekiplerimizce yerleri belirlenerek kurulmaktadır. İstasyon içerisine yerleştirilen Sağlık Bakanlığı onaylı ürünler, kemirgenler için çekici özelliktedir. Periyodik kontroller sağlanarak ilaçların durumu ve kemirgenlerin varlığı hakkında bilgi edinilebilmektedir.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="hizmet">
                        <div class="card">
                            <img src="~/images/rehberlik.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Personel Eğitim Ve Gelişim Danışmanlığı</h5>
                                <p class="card-text">Özellikle Fabrikalarda ve sitelerde çalışan görevli personellerin, haşere kontrol süreçleri hakkında bilgilendirilmesi büyük öneme sahiptir. Bu eğitimlerle özellikle haşere oluşumunun önlenmesi ve ilaçlama ihtiyaçlarının minimuma indirilmesi sağlanmaktadır. Donanımlı personel bulundurulması adına verdiğimiz eğitimlerle, kurumlara olan katkımızı sürdürüyoruz.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="hizmet">
                        <div class="card">
                            <img src="~/images/siteyönet.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Site Koruma Paketi</h5>
                                <p class="card-text">Site yaşantısının gerekliliği olan haşere kontrol uygulamalarını bir bütün olarak ele alıyoruz. Blokların ortak alanları, sığınaklar, bina çevreleri, yeşil alanlar ve bahçedeki sert zeminler bir bütün şeklinde ilaçlanmaktadır. aylık periyodik uygulamalar yaşam alanındaki konforu en üst düzeyde tutmaktadır.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="hizmet">
                        <div class="card">
                            <img src="/images/fabri.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Periyodik İlaçlama Ve Kontrol Paketi</h5>
                                <p class="card-text">Başta fabrikalar olmak üzere ev ve iş yerlerinizde periyodik olarak kontrol edilmesi gereken her türlü durumda, aylık, 2 aylık ve 3 aylık dönemlere yayarak hem ilaçlama hem de kontrol çalışmaları yapılmaktadır. Bu esnada hem sorunların tamamen giderilmesi hem de olası farklı olumsuzlukların engellenmesi sağlanmaktadır.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="hizmet">
                        <div class="card">
                            <img src="~/images/villakoru.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Villa - Yazlık Koruma Paketi</h5>
                                <p class="card-text">Mart ve Ekim ayları arasında uygulamaya alınan bu paketle, villa ve yazlıkların içi, dış çevresi, yeşil alanları, havuz çevresi, yılanlara karşı bahçe çevresi ilaçlanmakta ve keyifle geçirilecek vaktin artırılması sağlanmaktadır.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>