 <div id="serit">
        <div class="row hiza">
            <div class="col-12">
                <h1>İletişim</h1>
            </div>
            <div class="col-12">
                <i class="fas fa-comments ikon"></i>
            </div>
        </div>
        <div class="alt-serit"></div>
</div>

<div class="container mt-5">
    <div class="row iletisim mb-5">
        <!-- Adres Bilgileri -->
        <div class="col-md-12 col-sm-12 col-lg-6">
            <h2>Adresimiz</h2>
            <iframe class="responsive-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d304.8860839265846!2d28.72386713684398!3d41.08626387519065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa72aadd24de9%3A0xe21e1aefd8bc4829!2s%C4%B0GTOT%20GIDA%20TOPTANCILAR%20%C3%87AR%C5%9EISI-SUN%20GAYR%C4%B0MENKUL!5e0!3m2!1str!2str!4v1691795019865!5m2!1str!2str"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <!-- İletişim Bilgileri -->
        <div class="col-md-12 col-sm-12 col-lg-6">
            <h2 class="mb-5">İletişim Bilgilerimiz</h2>
            <!-- Telefon -->
            <div class="mb-2 iletisim-item">
                <div class="my-3"><strong>Telefon</strong></div>
                <p class="mb-0"><a href="tel:+905309033623"> +90 530 903 36 23 </a></p>
                <div class="icon">
                    <i class="fas fa-phone"></i>
                </div>
            </div>
            <!-- E-posta -->
            <div class="mb-2 iletisim-item">
                <div class="my-3"><strong>Email</strong></div>
                <p class="mb-0"><a href="mailto:info@biodefence.com.tr"> info@biodefence.com.tr </a></p>
                <div class="icon">
                    <i class="fas fa-envelope"></i>
                </div>
            </div>
            <!-- Adres -->
            <div class="mb-2">
                <div class="my-3"><strong>Adres</strong></div>
                <p class="mb-0"> Şahintepe Mh. Şehit Polis Fethi Sekin Cd. İGTOT Kuru Gıda Toptancıları Sitesi Ticaret Bloğu 4. Ada İç Kapı 27 Başakşehir/İSTANBUL</p>
            </div>
        </div>
    </div>
</div>





