<div class="my-0 slidebar">

        <div class="carousel slide carousel-fade carousel-dark" data-bs-ride="carousel" id="slider1">
            <ol class="carousel-indicators">
                <li data-bs-target="#slider1" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#slider1" data-bs-slide-to="1"></li>
                <li data-bs-target="#slider1" data-bs-slide-to="2"></li>    
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    
                      <picture>
                          <source media="(max-width: 450px)"
                                  srcset="~/images/anasite.png">           
                          <img src="~/images/anasite.png" alt="Varsayılan Görsel">
                      </picture>               
                </div>
                
                <div class="carousel-item" data-bs-interval="3000">
                    
                    <picture>
                          <source media="(max-width: 450px)"
                                  srcset="~/images/2lii.png">                               
                          <img src="~/images/2lii.png" alt="Varsayılan Görsel">
                    </picture>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                       
                    <picture>
                          <source media="(max-width: 450px)"
                                  srcset="~/images/anaekran3.png">              
                          <img src="~/images/anaekran3.png" alt="Varsayılan Görsel">
                    </picture>             
                </div>
                
            </div>
            <a href="#slider1" class="carousel-control-prev" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#slider1" class="carousel-control-next" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>


        </div>

    <section id="about" class="py-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 my-auto">
                <h4>BioDefence İlaçlama Haşere Kontrol Hizmetleri</h4>
                <p>BioDefence, İstanbul'da haşere ilaçlama sektöründe öne çıkan, güven duyulan bir markadır. Firmamız, uzun süreli sektör deneyimine sahip iki Biyolog tarafından kurulmuştur. Bu birikim, BioDefence'in sektördeki başarısının temel taşlarından biridir.</p>
                <p>
                Amacımız, sizlere en güncel ve etkili ilaçlama yöntemleriyle hizmet sunarak, haşerelerden tamamen arındırılmış, sağlıklı ve güvenli yaşam alanları oluşturmaktır. Ekibimiz, sektördeki son gelişmeleri yakından izleyen deneyimli Biyologlar ve Ziraat Mühendislerinden oluşmaktadır.Uygulamalar esnasında kullandığımız tüm ürünler, Sağlık Bakanlığı tarafından ruhsatlanmış biyosidal ürünlerdir.</p>
                <p>
                Müşteri memnuniyeti bizim için her zaman önceliklidir. Bu nedenle ilaçlama sonrasında oluşabilecek sorunlarda 7/24 destek sağlamaktayız. BioDefence ile iş birliği yaptığınızda, yaşam alanlarınızın haşerelerden arındığını ve konfor düzeyinizin arttığını deneyimleme imkanı bulacaksınız.</p>

                <p>Sİzlere yardımcı olabilmeyi ve benzersiz deneyimler sunabilmeyi heyecanla bekliyoruz.</p>

                    
                </div>
                <div class="col-md-6 my-auto">
                    <img src="~/images/ilac.png" id="img-hakkimizda" class="img-fluid rounded" alt="Hakkımızda">
                </div>
            </div>
        </div>
    </section>

        <main>

    <section id="servicess" class="py-5 bg-light mt-5">
    <div class="container">
        <div class="row m-auto">
            <div class="col-md-12 mb-4">
                <h1 class="hizmet_baslik">Başlıca Hizmetlerimiz</h1>
            </div>
            <div class="col-md-4 mb-4 servicess-card">
                <div class="m-auto">
                    <a href="/Home/Hizmetler"><i class="fa-solid fa-spray-can-sparkles service-icon"></i></a>
                </div>
                <div class="servicess-title">İlaçlama Faaliyetleri</div>
            </div>
            
            <div class="col-md-4 mb-4 servicess-card">
                <div class="m-auto">
                    <a href="/Home/Hizmetler"><i class="fa-solid fa-soap service-icon"></i></a>
                </div>
                <div class="servicess-title">Dezenfeksiyon</div>
            </div>
            
            <div class="col-md-4 mb-4 servicess-card">
                <div class="m-auto">
                    <a href="/Home/Hizmetler"><i class="fa-solid fa-locust service-icon"></i></a>
                </div>
                <div class="servicess-title">Kemirgen İstasyon Noktası Kurulumu</div>
            </div>
            <div class="col-md-4 mb-4 servicess-card">
                <div class="m-auto">
                    <a href="/Home/Hizmetler"><i class="fa-solid fa-person-burst service-icon"></i></a>
                </div>
                <div class="servicess-title">Personel Eğitim Ve Gelişim Danışmanlığı</div>
            </div>
            <div class="col-md-4 mb-4 servicess-card">
                <div class="m-auto">
                    <a href="/Home/Hizmetler"><i class="fa-solid fa-house-lock service-icon"></i></a>
                </div>
                <div class="servicess-title">Site Koruma Paketi</div>
            </div>
            <div class="col-md-4 mb-4 servicess-card mx-auto">
                <div class="m-auto">
                    <a href="/Home/Hizmetler"><i class="fa-solid fa-pills service-icon"></i></a>
                </div>
                <div class="servicess-title">Periyodik İlaçlama Ve Kontrol Paketi</div>
            </div>
            <div class="col-md-4 mb-4 servicess-card mx-auto">
                <div class="m-auto">
                    <a href="/Home/Hizmetler"><i class="fa-solid fa-tree-city service-icon"></i></a>
                </div>
                <div class="servicess-title">Villa - Yazlık Koruma Paketi</div>
            </div>
            
            
            <!-- Diğer hizmet kartlarını buraya ekleyebilirsiniz -->
        </div>
    </div>
</section>

<div class="slider-ref container col-12">
  <h1 class="slider-title">Referanslarımız</h1>
    <div class="slider-container">
        <div class="slider-track" id="sliderTrack">
            <div class="logo"><img src="~/images/Mado_logo.jpg" alt="Mado_logo"></div>
            <div class="logo"><img src="~/images/big-mammas.png" alt="big-mammas"></div>
            <div class="logo"><img src="~/images/cenberlitas.jpeg" alt="cenberlitas"></div>
            <div class="logo"><img src="~/images/antalya-recelcisi.png" alt="antalya-recelcisi"></div>
            <div class="logo"><img src="~/images/hld-hatay-lavas-doner.jpg" alt="hld-hatay-lavas-doner"></div>
            <div class="logo"><img src="~/images/enbaba.png" alt="enbaba"></div>
            <div class="logo"><img src="~/images/ovafirin.jpeg" alt="ovafirin"></div>
            <div class="logo"><img src="~/images/feslihan.jpeg" alt="feslihan"></div>
            <div class="logo"><img src="~/images/kadesan.png" alt="kadesan"></div>
            <div class="logo"><img src="~/images/karedeniz-kozmetik.png" alt="karadeniz-kozmetik"></div>
            <div class="logo"><img src="~/images/cobag.png" alt="cobag"></div>
            <div class="logo"><img src="~/images/hayvancilik.png" alt="hayvancilik"></div>
            <div class="logo"><img src="~/images/veteriner.png" alt="veteriner"></div>
            <div class="logo"><img src="~/images/turbo.png" alt="turbo"></div>
            <div class="logo"><img src="~/images/sun.jpeg" alt="sun"></div>
            <div class="logo"><img src="~/images/tek-tarim.png" alt="tek-tarim"></div>
            <div class="logo"><img src="~/images/yagcioglu.png" alt="yagcioglu"></div>
            <!-- Ek referans logolarını buraya ekleyebilirsiniz -->
        </div>
    </div>
</div>

            <div class="container mt-5 hasere">
                <div class="my-5">
                    <h1 id="baslik">BioDefence</h1>
                    <h4>"Yaşam alanlarınızda haşerelerin izine rastlamayın,Biodefence ile güvendesiniz."</h3>
            </div>
  <div class="row mb-3">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="service-card service">
        <i class="fa-solid fa-mosquito service-icon "></i>
        <div class="service-title">Sivrisinek İlaçlama</div>
        
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="service-card">
        <i class="fas fa-spider service-icon"></i>
        <div class="service-title">Karasinek İlaçlama</div>
        
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="service-card">
        <i class="fa-solid fa-bug service-icon"></i>
        <div class="service-title">Hamam Böceği İlaçlama</div>
        
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="service-card">
        <i class="fa-solid fa-feather service-icon"></i>
        <div class="service-title">Fare İlaçlama</div>
        
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mx-auto">
      <div class="service-card">
        <i class="fa-solid fa-bugs service-icon"></i>
        <div class="service-title">Bit-Pire İlaçlama</div>
        
      </div>
    </div>

   <div class="col-lg-3 col-md-6 mb-4 mx-auto">
      <div class="service-card">
        <i class="fa-solid fa-shrimp service-icon"></i>
        <div class="service-title">Gümüş Böceği İlaçlama</div>        
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mx-auto">
      <div class="service-card">
        <i class="fa-solid fa-bacterium service-icon"></i>
        <div class="service-title">Kene İlaçlama</div>
        
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mx-auto">
      <div class="service-card">
        <i class="fa-solid fa-bug-slash service-icon"></i>
        <div class="service-title">Tahta Kurusu İlaçlama</div>
        
      </div>
    </div>
    
    <!-- Diğer hizmet kartları buraya eklenir -->
    <div class="popup" id="popup">
  <div class="popup-content">
    
    <div id="popup-text">
      <!-- İçerik buraya eklenebilir -->
    </div>
  </div>
</div>  

  </div>
</div>


    <div class="faq-container">
        <div class="faq">
            <div class="faq-question">Sivrisinek ısırığı nasıl tedavi edilir?</div>
            <div class="faq-answer">Sivrisinek ısırığı bölgesini temizleyip antihistaminik krem kullanarak tedavi edebilirsiniz.</div>
        </div>
        
        <div class="faq">
            <div class="faq-question">Karınca istilasını nasıl engellerim?</div>
            <div class="faq-answer">Yiyecekleri düzenli temizleyin, giriş noktalarını kapatın ve doğal karınca kovucuları kullanın.</div>
        </div>

        <!-- Diğer sık sorulan soruları buraya ekleyebilirsiniz -->

        <div class="faq">
            <div class="faq-question">Evdeki hamam böceklerinden nasıl kurtulurum?</div>
            <div class="faq-answer">Temizlik alışkanlıklarınızı geliştirin, böcek ilaçları kullanın ve sızdırmazlık sağlayarak engelleyebilirsiniz..</div>
        </div>
        
        <div class="faq">
            <div class="faq-question">Evcil hayvanımda kene buldum, ne yapmalıyım?</div>
            <div class="faq-answer">Keneyi çıkarmak için eldiven kullanın, cımbızla yavaşça çıkarın ve veterinerinizden yardım alın.</div>
        </div>

        <div class="faq">
            <div class="faq-question">Pirelerden nasıl kurtulabilirim?</div>
            <div class="faq-answer">Evinizi düzenli temizleyin, evcil hayvanlarınızı düzenli tımar edin ve pire ilaçları kullanarak engelleyebilirsiniz.</div>
        </div>

        <div class="faq">
            <div class="faq-question">Arı sokması nasıl tedavi edilir?</div>
            <div class="faq-answer">Arı sokması bölgesini soğuk kompresle rahatlatın ve gerektiğinde antihistaminik ilaçlar kullanın.</div>
        </div>

        <div class="faq">
            <div class="faq-question">Böcekleri uzak tutmak için doğal yöntemler nelerdir?</div>
            <div class="faq-answer">Limon, biber tozu, nane yağı gibi doğal maddeler kullanarak böcekleri uzak tutabilirsiniz.</div>
        </div>

        <div class="faq">
            <div class="faq-question">Sineklerden korunmak için ne yapabilirim?</div>
            <div class="faq-answer">Kapı ve pencereleri sıkıca kapatın, sinek kovucu ürünler kullanın ve dışarı çıkarken koruyucu losyon sürün.</div>
        </div>

        <div class="faq">
            <div class="faq-question">Açık havada arı sokmasından nasıl kaçınırım?</div>
            <div class="faq-answer">Parlak renkli kıyafetlerden kaçının, tatlı kokular kullanmamaya özen gösterin ve yiyecekleri kapalı tutun.</div>
        </div>

        <div class="faq">
            <div class="faq-question">Yemekleri böceklerden nasıl korurum?</div>
            <div class="faq-answer">Yiyecekleri sıkıca kapatın, saklama kapları kullanın ve mutfak temizliğine özen gösterin.</div>
        </div>
    </div>

            
        </main>
 </div>

 <!-- JavaScript ile pop-up işlevselliği eklemek için aşağıdaki kodu kullanabilirsiniz -->
 <script>
document.addEventListener('DOMContentLoaded', function() {
  var serviceCards = document.querySelectorAll('.service-card');
  var popup = document.getElementById('popup');
  var popupText = document.getElementById('popup-text');

   popup.style.display = 'none';

  serviceCards.forEach(function(card) {
    card.addEventListener('click', function() {
      var title = card.querySelector('.service-title').textContent;
      var content;
      if (title === "Sivrisinek İlaçlama") {
        content = "Sivrisinekler, kan emerek insanlara hastalık bulaştırabilen böceklerdir. Sivrisineklerin üremesini engellemek için su birikintileri ve çöp konteynırları gibi üreme alanlarını temiz tutmak önemlidir. Sivrisineklerden korunmak için ise böcek spreyleri veya ekranlı pencereler kullanılabilir.";
      } else if (title === "Karasinek İlaçlama") {
        content = "Karasinekler, özellikle mutfak ve yiyecek depolama alanlarında bulunurlar. Gıda hijyenine ciddi tehdit oluştururlar. Karasineklerle mücadele için temizlik önlemleri alınmalı ve ilaçlama hizmetleri kullanılmalıdır.";
      } else if (title === "Hamam Böceği İlaçlama") {
        content = "Hamamböcekleri, hijyen sorunlarına yol açabilen ve insanlara hastalık bulaştırabilen zararlı böceklerdir. Hamamböcekleri genellikle mutfaklar, banyolar ve kanalizasyon sistemlerinde bulunurlar. Bu zararlılarla mücadele etmek için profesyonel böcek ilaçlama hizmetleri kullanılmalıdır.";
      } else if (title === "Fare İlaçlama") {
        content = "Fareler, gıda depolarında ve evlerde zarar verebilen ve hastalık taşıyabilen kemirgenlerdir. Farenin varlığı gıda kaynaklarını kirletebilir ve maddi zararlara neden olabilir. Farelerle mücadele için zehirli yemler, fare tuzakları veya profesyonel fare ilaçlama hizmetleri kullanılabilir. Ancak, fare kontrolü profesyonel bir yaklaşım gerektirir."
      } else if (title === "Bit-Pire İlaçlama") {
        content = "Bitler, insanların saç derisi veya vücudu üzerinde yaşayan parazitlerdir. Bitlerin ısırıkları kaşıntı, kızarıklık ve cilt tahrişi yapabilir. Bitlerle başa çıkmak için özel bit şampuanları veya losyonlar kullanılabilir. Ayrıca, bulaşma riskini azaltmak için kişisel hijyen önlemlerine dikkat edilmelidir.<br>Pireler, evcil hayvanlar veya insanlar tarafından taşınabilen kan emici böceklerdir. Isırıkları kaşıntı ve cilt tahrişi yapabilir. Pirelerin kontrolü için evcil hayvanların düzenli olarak kontrol edilmesi ve evin ilaçlanması önemlidir. Profesyonel bir ilaçlama hizmeti, pirelerin üremesini engellemeye yardımcı olabilir."
      } else if (title === "Gümüş Böceği İlaçlama") {
        content = "Gümüş böcekleri, evlerde veya diğer kapalı alanlarda bulunan küçük böceklerdir. Bu böcekler, gümüş renginde bir dış kabuğa sahip oldukları için 'gümüş böceği' olarak adlandırılırlar. Gümüş böcekleri, gıda maddelerine, kitaplara, kağıtlara ve tekstil ürünlerine zarar verebilirler."
      } else if (title === "Kene İlaçlama") {
        content = "Keneler, insanlar ve hayvanlar üzerinde yaşayan parazitlerdir. Bu kan emiciler, deri altına gömülerek kan emerler ve ısırma sonucunda kaşıntı, kızarıklık, şişlik ve bazen cilt tahrişi gibi rahatsızlıklara yol açabilirler. Ayrıca, keneler taşıyıcı olabilir ve Lyme hastalığı gibi enfeksiyonları yayabilirler. "
      } else if (title === "Tahta Kurusu İlaçlama") {
        content = "Tahtakurusu, yataklarda ve mobilyalarda bulunan kan emici bir böcektir. Isırıkları kaşıntı ve alerjik reaksiyonlara yol açabilir. Tahtakurusu kontrolü için profesyonel ilaçlama hizmetleri kullanılmalıdır."
      } 
         popupText.innerHTML = '<h2 style="color: white; font-size: 24px; margin-top: 10px; text-align: center;">' + title + '</h2>' + '<div style="color: white; font-size: 16px; text-align: center; padding: 10px; ">' + content + '</div>';
      
      // Yüzdesel boyutları ayarlayın (örneğin, ekranın yüzde 50'si)

      if (window.innerWidth < 500) { // Ekran genişliği 1200 pikselden küçükse
        sizePercentage = 1; // sizePercentage'i 0.5 olarak ayarla
        popupText.style.marginTop = '50px'; // Büyük ekranlarda daha fazla boşluk eklemek için
      } else {
        sizePercentage = 0.5; // Diğer durumlarda sizePercentage'i 1 olarak bırak
        popupText.style.marginTop = '10px'; // Daha küçük bir boşluk eklemek için
      }
      


      var popupWidth = window.innerWidth * sizePercentage;
      var popupHeight = window.innerHeight * sizePercentage;

      var centerX = (window.innerWidth - popupWidth) / 2;
      var centerY = (window.innerHeight - popupHeight) / 2;

      popup.style.display = 'block';
      popup.style.width = popupWidth + 'px';
      popup.style.height = popupHeight + 'px';
      popup.style.left = centerX + 'px';
      popup.style.top = centerY + 'px';
      popup.style.padding = '50px';

      // Card'ın stil özelliklerini popup'a uygulayın
      popup.style.backgroundColor = window.getComputedStyle(card).backgroundColor;
      popup.style.borderRadius = window.getComputedStyle(card).borderRadius;
      popup.style.overflow = 'hidden';
      popup.style.textAlign = 'center';
      popup.style.alignItems = 'center';

      // Popup içeriğinin boyutlarını ve konumunu ayarlayın
      popupText.style.maxWidth = popupWidth - 40 + 'px'; // 20 piksellik boşluk bırak
      popupText.style.maxHeight = popupHeight - 60 + 'px'; // 30 piksellik boşluk bırak
    
      
      setTimeout(function() {
        popup.style.animation = 'popupOpen 0.5s ease-in-out';
      }, 10);
    });
  });

  popup.addEventListener('click', function(event) {
    if (event.target === popup) {
      closePopup();
    }
  });

  function closePopup() {
    popup.style.animation = 'popupClose 0.5s ease-in-out';
    setTimeout(function() {
      popup.style.display = 'none';
      popup.style.animation = '';
    }, 500);
  }
});
</script> 