<div class="my-0 slidebar">

        <div class="carousel slide carousel-fade carousel-dark" data-bs-ride="carousel" id="slider1">
            <ol class="carousel-indicators">
                <li data-bs-target="#slider1" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#slider1" data-bs-slide-to="1"></li>
                <li data-bs-target="#slider1" data-bs-slide-to="2"></li>    
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="~/images/anasite.png" class="d-block w-100" alt="">                    
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/2lii.png" class="d-block w-100" alt="">
                    
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/anaekran3.png" class="d-block w-100" alt="">                    
                </div>
                
            </div>
            <a href="#slider1" class="carousel-control-prev" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#slider1" class="carousel-control-next" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>


        </div>

    <section id="about" class="py-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 my-auto">
                <h4>BioDefence İlaçlama Haşere Kontrol Hizmetleri</h4>
                <p>BioDefence, İstanbul'da haşere ilaçlama sektöründe öne çıkan, güven duyulan bir markadır. Firmamız, uzun süreli sektör deneyimine sahip iki Biyolog tarafından kurulmuştur. Bu birikim, BioDefence'in sektördeki başarısının temel taşlarından biridir.</p>
                <p>
                Amacımız, sizlere en güncel ve etkili ilaçlama yöntemleriyle hizmet sunarak, haşerelerden tamamen arındırılmış, sağlıklı ve güvenli yaşam alanları oluşturmaktır. Ekibimiz, sektördeki son gelişmeleri yakından izleyen deneyimli Biyologlar ve Ziraat Mühendislerinden oluşmaktadır.Uygulamalar esnasında kullandığımız tüm ürünler, Sağlık Bakanlığı tarafından ruhsatlanmış biyosidal ürünlerdir.</p>
                <p>
                Müşteri memnuniyeti bizim için her zaman önceliklidir. Bu nedenle ilaçlama sonrasında oluşabilecek sorunlarda 7/24 destek sağlamaktayız. BioDefence ile iş birliği yaptığınızda, yaşam alanlarınızın haşerelerden arındığını ve konfor düzeyinizin arttığını deneyimleme imkanı bulacaksınız.</p>

                <p>Sİzlere yardımcı olabilmeyi ve benzersiz deneyimler sunabilmeyi heyecanla bekliyoruz.</p>

                    
                </div>
                <div class="col-md-6 my-auto">
                    <img src="~/images/ilac.png" id="img-hakkimizda" class="img-fluid rounded" alt="Hakkımızda">
                </div>
            </div>
        </div>
    </section>

        <main>

    <section id="servicess" class="py-5 bg-light mt-5">
    <div class="container">
        <div class="row m-auto">
            <div class="col-md-12 mb-4">
                <h1 class="hizmet_baslik">Başlıca Hizmetlerimiz</h1>
            </div>
            <div class="col-md-4 mb-4 servicess-card">
                <div class="m-auto">
                    <a href="/Home/Hizmetler"><i class="fa-solid fa-spray-can-sparkles service-icon"></i></a>
                </div>
                <div class="servicess-title">İlaçlama Faaliyetleri</div>
            </div>
            
            <div class="col-md-4 mb-4 servicess-card">
                <div class="m-auto">
                    <a href="/Home/Hizmetler"><i class="fa-solid fa-soap service-icon"></i></a>
                </div>
                <div class="servicess-title">Dezenfeksiyon</div>
            </div>
            
            <div class="col-md-4 mb-4 servicess-card">
                <div class="m-auto">
                    <a href="/Home/Hizmetler"><i class="fa-solid fa-locust service-icon"></i></a>
                </div>
                <div class="servicess-title">Kemirgen İstasyon Noktası Kurulumu</div>
            </div>
            <div class="col-md-4 mb-4 servicess-card">
                <div class="m-auto">
                    <a href="/Home/Hizmetler"><i class="fa-solid fa-person-burst service-icon"></i></a>
                </div>
                <div class="servicess-title">Personel Eğitim Ve Gelişim Danışmanlığı</div>
            </div>
            <div class="col-md-4 mb-4 servicess-card">
                <div class="m-auto">
                    <a href="/Home/Hizmetler"><i class="fa-solid fa-house-lock service-icon"></i></a>
                </div>
                <div class="servicess-title">Site Koruma Paketi</div>
            </div>
            <div class="col-md-4 mb-4 servicess-card mx-auto">
                <div class="m-auto">
                    <a href="/Home/Hizmetler"><i class="fa-solid fa-pills service-icon"></i></a>
                </div>
                <div class="servicess-title">Periyodik İlaçlama Ve Kontrol Paketi</div>
            </div>
            <div class="col-md-4 mb-4 servicess-card mx-auto">
                <div class="m-auto">
                    <a href="/Home/Hizmetler"><i class="fa-solid fa-tree-city service-icon"></i></a>
                </div>
                <div class="servicess-title">Villa - Yazlık Koruma Paketi</div>
            </div>
            
            
            <!-- Diğer hizmet kartlarını buraya ekleyebilirsiniz -->
        </div>
    </div>
</section>

            <div class="container mt-5 hasere">
                <div class="my-5">
                    <h1 id="baslik">BioDefence</h1>
                    <h4>"Yaşam alanlarınızda haşerelerin izine rastlamayın,Biodefence ile güvendesiniz."</h3>
            </div>
  <div class="row mb-3">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="service-card">
        <i class="fa-solid fa-mosquito service-icon"></i>
        <div class="service-title">Sivrisinek İlaçlama</div>
        
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="service-card">
        <i class="fas fa-spider service-icon"></i>
        <div class="service-title">Karasinek İlaçlama</div>
        
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="service-card">
        <i class="fa-solid fa-bug service-icon"></i>
        <div class="service-title">Hamam Böceği İlaçlama</div>
        
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="service-card">
        <i class="fa-solid fa-feather service-icon"></i>
        <div class="service-title">Fare İlaçlama</div>
        
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mx-auto">
      <div class="service-card">
        <i class="fa-solid fa-bugs service-icon"></i>
        <div class="service-title">Bit-Pire İlaçlama</div>
        
      </div>
    </div>

   <div class="col-lg-3 col-md-6 mb-4 mx-auto">
      <div class="service-card">
        <i class="fa-solid fa-shrimp service-icon"></i>
        <div class="service-title">Gümüş Böceği İlaçlama</div>
        
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mx-auto">
      <div class="service-card">
        <i class="fa-solid fa-bacterium service-icon"></i>
        <div class="service-title">Kene İlaçlama</div>
        
      </div>
    </div>
    
    <!-- Diğer hizmet kartları buraya eklenir -->

  </div>
</div>


    <div class="faq-container">
        <div class="faq">
            <div class="faq-question">Sivrisinek ısırığı nasıl tedavi edilir?</div>
            <div class="faq-answer">Sivrisinek ısırığı bölgesini temizleyip antihistaminik krem kullanarak tedavi edebilirsiniz.</div>
        </div>
        
        <div class="faq">
            <div class="faq-question">Karınca istilasını nasıl engellerim?</div>
            <div class="faq-answer">Yiyecekleri düzenli temizleyin, giriş noktalarını kapatın ve doğal karınca kovucuları kullanın.</div>
        </div>

        <!-- Diğer sık sorulan soruları buraya ekleyebilirsiniz -->

        <div class="faq">
            <div class="faq-question">Evdeki hamam böceklerinden nasıl kurtulurum?</div>
            <div class="faq-answer">Temizlik alışkanlıklarınızı geliştirin, böcek ilaçları kullanın ve sızdırmazlık sağlayarak engelleyebilirsiniz..</div>
        </div>
        
        <div class="faq">
            <div class="faq-question">Evcil hayvanımda kene buldum, ne yapmalıyım?</div>
            <div class="faq-answer">Keneyi çıkarmak için eldiven kullanın, cımbızla yavaşça çıkarın ve veterinerinizden yardım alın.</div>
        </div>

        <div class="faq">
            <div class="faq-question">Pirelerden nasıl kurtulabilirim?</div>
            <div class="faq-answer">Evinizi düzenli temizleyin, evcil hayvanlarınızı düzenli tımar edin ve pire ilaçları kullanarak engelleyebilirsiniz.</div>
        </div>

        <div class="faq">
            <div class="faq-question">Arı sokması nasıl tedavi edilir?</div>
            <div class="faq-answer">Arı sokması bölgesini soğuk kompresle rahatlatın ve gerektiğinde antihistaminik ilaçlar kullanın.</div>
        </div>

        <div class="faq">
            <div class="faq-question">Böcekleri uzak tutmak için doğal yöntemler nelerdir?</div>
            <div class="faq-answer">Limon, biber tozu, nane yağı gibi doğal maddeler kullanarak böcekleri uzak tutabilirsiniz.</div>
        </div>

        <div class="faq">
            <div class="faq-question">Sineklerden korunmak için ne yapabilirim?</div>
            <div class="faq-answer">Kapı ve pencereleri sıkıca kapatın, sinek kovucu ürünler kullanın ve dışarı çıkarken koruyucu losyon sürün.</div>
        </div>

        <div class="faq">
            <div class="faq-question">Açık havada arı sokmasından nasıl kaçınırım?</div>
            <div class="faq-answer">Parlak renkli kıyafetlerden kaçının, tatlı kokular kullanmamaya özen gösterin ve yiyecekleri kapalı tutun.</div>
        </div>

        <div class="faq">
            <div class="faq-question">Yemekleri böceklerden nasıl korurum?</div>
            <div class="faq-answer">Yiyecekleri sıkıca kapatın, saklama kapları kullanın ve mutfak temizliğine özen gösterin.</div>
        </div>
    </div>

            
        </main>
 </div>